<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PAZ"
        tools:targetApi="31">
        <activity
            android:name=".activity.WebView"
            android:exported="false" />
        <activity
            android:name=".activity.WebActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MainActivity$LocationService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false">
        </service>
    </application>

    <queries>
        <package android:name="com.miui.securitycenter" />
        <package android:name="com.miui.permcenter" />

        <package android:name="com.letv.android.letvsafe" />

        <package android:name="com.asus.mobilemanager" />

        <package android:name="com.huawei.systemmanager" />

        <package android:name="com.coloros.safecenter" />
        <package android:name="com.oppo.safe" />

        <package android:name="com.iqoo.secure" />

        <package android:name="com.vivo.permissionmanager" />

        <package android:name="com.evenwell.powersaving" />

        <package android:name="com.samsung.android" />

        <package android:name="com.oneplus" />

        <package android:name="com.android.settings" />
    </queries>

</manifest>